<h1>WARENKORB</h1>

{{#each model.orderItems as |orderItem|}}
  <article>
    {{#link-to "item" orderItem.item}}
	<h3>{{orderItem.item.id}} {{orderItem.item.name}}</h3>
    <div class="detail owner">
      <span>Anzahl:</span> {{orderItem.amount}}
    </div>
	{{/link-to}}
  </article>
{{/each}}
